<section>
    <div class="DivGERAL">

        <div class="ParteInicialForm">
            <h1>Preencha Todo o Formulário</h1>
            <p>Todas as seções são muito importantes para entendermos suas características e necessidades e proporcionarmos uma vida melhor para nossos pets. Em breve entraremos em contato após o envio.</p>
        </div>

        <div class="ParteDosForms">
            <div class="Dados">
                <h1>Informações Pessoais do Adotante</h1>
                <form>
                    <div>
                        <label for="nome">Nome:</label>
                        <input type="text" name="name" id="nome" placeholder="Digite seu nome completo" [(ngModel)]="nome">
                    </div>
                    <div>
                        <label for="dataNascimento">Data de Nascimento:</label>
                        <input type="date" name="birth_date" id="dataNascimento" [(ngModel)]="dataNascimento">
                    </div>
                    <div>
                        <label for="genero">Gênero:</label>
                        <input type="text" name="gender" id="genero" placeholder="Informe seu gênero" [(ngModel)]="genero">
                    </div>
                    <div>
                        <label for="residencia">Residência:</label>
                        <input type="text" name="residency_id" id="residencia" placeholder="Digite o tipo de residência" [(ngModel)]="residencia">
                    </div>
                    <div>
                        <label for="telefone">Número de Telefone:</label>
                        <input type="tel" name="phone_number" id="telefone" placeholder="(00) 0 0000-0000" [(ngModel)]="telefone">
                    </div>
                    <div>
                        <label for="razaoAdocao">Razão para Adoção:</label>
                        <input type="text" name="reason_for_adoption" id="razaoAdocao" placeholder="Descreva o motivo para adoção" [(ngModel)]="razaoAdocao">
                    </div>
                    <div>
                        <label for="concordaVisita">Concorda com a visita da ONG?</label>
                        <input type="text" name="agrees_with_visit" id="concordaVisita" placeholder="Sim/Não" [(ngModel)]="concordaVisita">
                    </div>
                    <div>
                        <label for="termoResponsabilidade">Concorda com os termos de responsabilidade?</label>
                        <input type="text" name="agrees_with_responsability_terms" id="termoResponsabilidade" placeholder="Sim/Não" [(ngModel)]="termoResponsabilidade">
                    </div>
                    <div>
                        <label for="informacoesCorretas">Declara estar passando informações corretas?</label>
                        <input type="text" name="declares_truthful_information" id="informacoesCorretas" placeholder="Sim/Não" [(ngModel)]="informacoesCorretas">
                    </div>
                    <div>
                        <label for="listaAdocoes">Lista de Adoções Envolvidas:</label>
                        <input type="text" name="adopter" id="listaAdocoes" placeholder="Descreva as adoções" [(ngModel)]="listaAdocoes">
                    </div>
                </form>
            </div>

            <div class="Dados">
                <h1>Informações sobre a Residência</h1>
                <form>
                    <div>
                        <label for="tipoResidencia">Tipo de Residência:</label>
                        <input type="text" name="residence_type" id="tipoResidencia" placeholder="Casa, apartamento, duplex" [(ngModel)]="tipoResidencia">
                    </div>
                    <div>
                        <label for="statusPosse">Status de Posse:</label>
                        <input type="text" name="ownership_status" id="statusPosse" placeholder="Própria ou alugada" [(ngModel)]="statusPosse">
                    </div>
                    <div>
                        <label for="permissaoAnimais">Permissão para Animais:</label>
                        <input type="text" name="has_permission_for_animals" id="permissaoAnimais" placeholder="Sim/Não" [(ngModel)]="permissaoAnimais">
                    </div>
                    <div>
                        <label for="espacoDisponivel">Espaço Disponível:</label>
                        <input type="text" name="available_space" id="espacoDisponivel" placeholder="Descreva o espaço disponível" [(ngModel)]="espacoDisponivel">
                    </div>
                    <div>
                        <label for="telasSeguranca">Telas de Segurança:</label>
                        <input type="text" name="has_safety_nets" id="telasSeguranca" placeholder="Sim/Não" [(ngModel)]="telasSeguranca">
                    </div>
                    <div>
                        <label for="outrosAnimais">Quantidade de Outros Animais:</label>
                        <input type="number" name="other_pets" id="outrosAnimais" placeholder="Número de animais" [(ngModel)]="outrosAnimais">
                    </div>
                    <div>
                        <label for="numeroResidentes">Número de Residentes:</label>
                        <input type="number" name="number_of_residents" id="numeroResidentes" placeholder="Número de pessoas" [(ngModel)]="numeroResidentes">
                    </div>
                </form>
            </div>

            <div class="Dados">
                <h1>Informações de Endereço</h1>
                <form>
                    <div>
                        <label for="cep">CEP:</label>
                        <input type="text" name="zip_code" id="cep" placeholder="Digite o CEP" [(ngModel)]="cep">
                    </div>
                    <div>
                        <label for="rua">Rua:</label>
                        <input type="text" name="street" id="rua" placeholder="Digite o nome da rua" [(ngModel)]="rua">
                    </div>
                    <div>
                        <label for="bairro">Bairro:</label>
                        <input type="text" name="neighbourhood" id="bairro" placeholder="Digite o nome do bairro" [(ngModel)]="bairro">
                    </div>
                    <div>
                        <label for="cidade">Cidade:</label>
                        <input type="text" name="city" id="cidade" placeholder="Digite o nome da cidade" [(ngModel)]="cidade">
                    </div>
                    <div>
                        <label for="estado">Estado:</label>
                        <input type="text" name="federal_unit" id="estado" placeholder="Digite o nome do estado" [(ngModel)]="estado">
                    </div>
                </form>
            </div>

            <div class="Envio">
                <button (click)="EnviarForm()" type="submit">Enviar</button>
            </div>
        </div>
    </div>
</section>
