<footer>

    <div class="TextosContato">
        <h1>Para perguntas e sugestões</h1>
        <div>
            <span id="IconsContato1" class="material-symbols-outlined">mail</span>
            <p>usuario.1234&#64;example.com</p>
        </div>
        <div>
            <span id="IconsContato2" class="material-symbols-outlined">call</span>
            <p>(+55)9 8765-4321</p>
        </div>
        <div>
            <span id="IconsContato2" class="material-symbols-outlined">payments</span>
            <p>Para doações o nosso pix é o número</p>
        </div>
    </div>

    <div class="TextosLocal">
        <h1>Estamos esperando sua visita</h1>
        <div>
            <span id="IconsLocal1" class="material-symbols-outlined">location_on</span>
            <p>Rua das Flores, 123, Apto 45, Bairro Jardim</p>
        </div>
        <div>
            <span id="IconsLocal2" class="material-symbols-outlined">explore</span>
            <p>São Paulo - SP, Brasil</p>
        </div>
    </div>

    <div class="img">
        <img src="ImgGatoFooter.png" alt="Imagem de um gato">
    </div>

</footer>
