<header>

    <div class="TituloInicial">
        <div class="TituloInicial_Img">
            <img src="Icon.png" alt="Imagem de uma pata">
        </div>
        <div class="TituloInicial_titulo">
           <h1>Amigo Fiel</h1>
           <h2>Companheiro para a vida</h2>
        </div>
    </div>

    <!--Navegação para telas maiores -->
    <div class="Navegacao">
        <ul>
            <li><a class="Home" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
            <li><a routerLink="adote" routerLinkActive="active-link">ADOTE</a></li>
            <li><a routerLink="contato" routerLinkActive="active-link">CONTATO</a></li>
        </ul>
    </div>

</header>
